<template name="BreadcrumbCollectionTaxa">
    {{# if isSubReady 'oneCollection' }}
        {{> BreadcrumbCollection }}
        <li>
            <a href="{{ urlFor 'oneCollectionTaxa' id=oneCollection.slug }}">Taxa</a>
        </li>
    {{/ if }}
</template>

<template name="CollectionTaxa">   
    {{# if isSubReady 'oneCollection' }}
        <h2>{{ oneCollection.name }}</h2>
        <h3>List of taxa</h3>
        <hr />
        
        <div class="uk-grid uk-margin-bottom">
            <div class="uk-width-1-2">
                <button class="uk-button" data-uk-modal="{target: '#collectionTaxonAdd'}">Add taxa</button>
            </div>
            <div class="uk-width-1-2 uk-text-right">
                <span class="uk-button-group" data-uk-switcher="{connect:'#toggleView', animation: 'fade'}">
                    <button class="uk-button uk-active" data-uk-tooltip="{animation:true, delay:200}" title="Switch to list view">
                        <i class="uk-icon-list-ul"></i>
                    </button>
                    <button class="uk-button" data-uk-tooltip="{animation:true, delay:200}" title="Switch to tile view">
                        <i class="uk-icon-th-large"></i>
                    </button>
                </span>
                <span class="uk-form">
                    <div class="uk-form-icon">
                        <i class="uk-icon-filter"></i>
                        <input type="text" placeholder="Filter">
                    </div>
                </span>
            </div>
        </div>
        
        <ul class="uk-switcher" id="toggleView">
            <li>
                <table class="uk-table uk-table-striped uk-table-hover">
                    <thead>
                        <th>Name</th>
                        <th></th>
                    </thead>
                    <tbody>
                    {{# if isSubReady 'collectionTaxa' }}
                        {{# each collectionTaxa }}
                        <tr>
                            <td>{{ name }}</td>
                            <td class="uk-text-right">
                                <a href="#" class="uk-icon-minus-circle removeTaxon" data-uk-tooltip="{animation:true, delay:200}" title="Remove taxon"></a>
                            </td>
                        </tr>
                        {{ else }}
                        <tr>
                            <td class="uk-text-center" colspan="2">There are no taxa to display.</td>
                        </tr>
                        {{/ each }}
                    {{ else }}
                        <tr>
                            <td class="uk-text-center" colspan="2">Loading taxa...</td>
                        </tr>
                    {{/ if }}
                    </tbody>
                </table>
            </li>
            <li>
                <div class="uk-grid-width-large-1-4" data-uk-grid="{gutter: 20}">
                    {{# if isSubReady 'collectionTaxa' }}
                        {{# each collectionTaxa }}
                            <div>
                                <a class="uk-thumbnail">
                                    <figure class="uk-overlay">
                                        <img src="/images/placeholder_200x100.svg">
                                        <figcaption style="padding: 5px" class="uk-overlay-panel uk-overlay-background uk-overlay-top uk-text-right">
                                            <a href="#" class="uk-icon-minus-circle removeTaxon" data-uk-tooltip="{animation:true, delay:200}" title="Remove taxon"></a>
                                        </figcaption>
                                    </figure>
                                    <div class="uk-thumbnail-caption">{{ name }}</div>
                                </a>
                            </div>  
                        {{/ each }}
                    {{/ if }}
                </div>
            </li>
        </ul>
        
        
        <div id="collectionTaxonAdd" class="uk-modal">
            <div class="uk-modal-dialog uk-modal-dialog-large">
                {{> CollectionTaxaAdd }}
            </div>
        </div>
        
    {{/ if }}
</template>
